.container-s2{
    margin-top: 60px;
    
}
.line-s2{
    width: 60px;
    border: 1px solid red;
}
.heading{
    margin-bottom: 40px;
}
.card-con-s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width:768px) {
    .card-con-s2{
        justify-content: space-around;
    }
}